{% load static %}
<!DOCTYPE html>
<html  lang="en">
  <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static '/css/page1.css' %}">

	<meta name="robots" content="all,index,follow" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./style/hme.css"> -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  
     
    <title>Main</title>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&subset=latin-ext" rel="stylesheet">
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- <link href="style.css" type="text/css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Create a sticky navigation bar that remains fixed to the top after scroll" />

	<link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600|Nunito" rel="stylesheet" type="text/css">
   
    <script type="text/javascript" src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Main</title>
</head>

         
    <body style="background-color: #525050;" id='body'>

        <div id='main'>
            
        <!-- Sidebar -->
               <div id="Sidebar11" class="sidebar1">
                 <a href="javascript:void(0)" class="closebtn" onclick="closeSide()">&times;</a>
                 <a id="first" href="/html/Home-Page.html"><i class="fas fa-home"></i>Home</a>
                 <a href=""><i class="fas fa-fire"></i>Favourite</a>
                 <a href="#"><i class="fas fa-history"></i>History</a>
                 <a id="last" href="#"><i class="fas fa-plus"></i>Save</a>
                 <a class="chanels" href="#">
                  <img class="smlpfp"
                   src=" {% static '/Images/9.jpg' %} ">Channel</a>
                 <a class="chanels" href="#"><img class="smlpfp" src=" {% static '/Images/bags/10.jpg' %} ">Prada</a>
               </div>
               
               <!-- Navbar -->
           <div class="navbar">
            
       
             <div class="icons">
       
                 
                 <div class="icons-hover">
   
       
               <h1 class="yet"  > Fashion Clinic </h1>

  
       
       </div>
       
       <div class="profilenot">
                     <div id="nottifications">
               <div class="nottitle">
                 <p>Notifications</p>
                 
               </div>
       
             </div>
             
             <div style="background-color: white;" id="profile">
                 <a href="#"><i class="fas fa-user-circle"></i>Profile</a>
                  <a href="@"><i class="fab fa-shopify"></i>Purchases and memberships</a>
                  <a href="#"><i class="fas fa-users-cog"></i>Edit profile</a>
                  <a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
             </div>
           </div>
             
             </div>
             

             <form autocomplete="on" action="searchpage.php" method="post" class="search">
               <input type="search" name="search" id='txtName' value="" placeholder="Search..."/>
               <i style="color:gray;" class="fas fa-search"></i>
             </form>

             <div class="tooltip">
             
              </div>

              
             <span class="open" style="font-size:30px;cursor:pointer;" onclick="openSide()">&#9776;</span>
              
              <!-- <span style="color: white;" class="tooltiptext">Profile</span> -->
              <a  onclick="openProfile()"><i style="font-size:30px;cursor:pointer; color: blue;" class="fas fa-user"></i></a>

       <a onclick="openNotifications()" href="javascript:void(0)"><i style="font-size:30px;cursor:pointer; color: blue; " class="fas fa-bell"></i></a>

           </div>
          
          <h1 style="color: white; margin-left: 5rem; " > Brand New </h1>
           
          
          <div class="container">        
      
        
            <div class="slide slide1 active ">
              <span></span> 
            </div>
            
            <div class="slide slide2">
            </div>
            
            <div class="slide slide3">
            </div>
            
            <div class="slide slide4">
            </div>
            
            <div class="slide slide5">
            </div>
            
            <div class="slide slide6">
            </div>  
    
            <div class="slide slide7  ">
              <span></span> 
            </div>
            
            <div class="slide slide8">
            </div>
            
            <div class="slide slide9">
            </div>
            
            <div class="slide slide10">
            </div>
            
            <div class="slide slide11">
            </div>
            
            <div class="slide slide12">
            </div>  
            
    
          </div>  


         
          <!-- Floating Social Media bar Starts -->
          <div class="float-sm">
            <div class="fl-fl float-fb">
              <i class="fa fa-facebook"></i>
              <a href="" target="_blank"> Like us!</a>
            </div>
            <div class="fl-fl float-tw">
              <i class="fa fa-twitter"></i>
              <a href="" target="_blank">Follow us!</a>
            </div>
            <div class="fl-fl float-gp">
              <i class="fa fa-google-plus"></i>
              <a href="" target="_blank">Recommend us!</a>
            </div>
            <div class="fl-fl float-rs">
              <i class="fa fa-rss"></i>
              <a href="" target="_blank">Follow via RSS</a>
            </div>
            <div class="fl-fl float-ig">
              <i class="fa fa-instagram"></i>
              <a href="" target="_blank">Follow us!</a>
            </div>
            <div class="fl-fl float-pn">
              <i class="fa fa-pinterest"></i>
              <a href="" target="_blank">Follow us!</a>
            </div>
          </div>






          <section>
            <ul>
              <li class="list active" data-filter="all-items">All</li>
              <li class="list " data-filter="item1"> Your Plugs </li>
              <li class="list " data-filter="item2"> Wigs </li>
              <li class="list " data-filter="item3"> Shoes </li>
              <li class="list " data-filter="item4"> Bags </li>
              <li class="list " data-filter="item5"> Jewelry </li>
              <li class="list " data-filter="item6"> Jackets </li>
            </ul>
            
            <div class="products">
              <div class="item item1"><img src=" {% static '/Images/1.jpg' %}"></div>
              <div class="item item2"><img src=" {% static '/Images/2.jpg' %}"></div>
              <div class="item item3"><img src="{% static '/Images/3.jpg' %}"></div>
              <div class="item item4"><img src="{% static '/Images/4.jpg' %}"></div>
              <div class="item item5"><img src="{% static '/Images/5.jpg' %}"></div>
              <div class="item item6"><img src="{% static '/Images/6.jpg' %}"></div>
              <div class="item item1"><img src="{% static '/Images/7.jpg' %}"></div>
              <div class="item item2"><img src="{% static '/Images/8.jpg' %}"></div>
              <div class="item item3"><img src="{% static '/Images/9.jpg' %}"></div>
              <div class="item item4"><img src="{% static '/Images/10.jpg' %}"></div>
              <div class="item item5"><img src="{% static '/Images/11.jpg' %}"></div>
              <div class="item item6"><img src="{% static '/Images/12.jpg' %}"></div> 
              <div class="item item1"><img src="{% static '/Images/13.jpg' %}"></div>
              <div class="item item2"><img src="{% static '/Images/14.jpg' %}"></div>
              <div class="item item3"><img src="{% static '/Images/15.jpg' %}"></div>
              <div class="item item4"><img src="{% static '/Images/16.jpg' %}g"></div>
              <div class="item item5"><img src="{% static '/Images/17.jpg' %}"></div>
              <div class="item item6"><img src="{% static '/Images/18.jpg' %}"></div>
              <div class="item item1"><img src="{% static '/Images/19.jpg' %}"></div>
              <div class="item item2"><img src="{% static '/Images/20.jpg' %}"></div>
              <div class="item item3"><img src="{% static '/Images/21.jpg' %}"></div>
              <div class="item item4"><img src="{% static '/Images/22.jpg' %}"></div>
              <div class="item item5"><img src="{% static '/Images/23.jpg' %}"></div>
              <div class="item item6"><img src="{% static '/Images/6.jpg' %}"></div>
            </div>
          </section>





       
       <!-- main end -->
       </div>
       
       <div id="snackbar"> sidebar</div>
      


       <script>
        $(document).ready(function(){
  $(".list").click(function(){
    const dataValue = $(this).attr("data-filter")
    if(dataValue == "all-items"){
      $(".item").show()
    }else{
      $(".item").not("." + dataValue).hide()
      $(".item").filter("." + dataValue).show()
    }
  }) 
})
$(".list").click(function(){
  $(this).addClass("active").siblings().removeClass("active")
})
       </script>
         

            
            <script>

function openSide() {

document.getElementById("Sidebar11").style.width = "210px";

document.getElementById("main").style.marginLeft = "210px";

document.getElementById("Sidebar11").style.background = "#1a1a1a";

}

function closeSide() {

document.getElementById("Sidebar11").style.width = "0";

document.getElementById("main").style.marginLeft = "0";

document.getElementById("Sidebar11").style.background = "gray";
}


function openNotifications() {
var x =
document.getElementById("nottifications");
if (x.style.display === "none") {
x.style.display = "block";
} else {
x.style.display = "none";
}
}


var cip = $(".video").hover( hoverVideo, hideVideo );

function hoverVideo(e) {  
$('video', this).get(0).play(); 
}

function hideVideo(e) {
$('video', this).get(0).pause(); 
}

function openProfile() {
var x =
document.getElementById("profile");
if (x.style.display === "none") {
x.style.display = "block";
} else {
x.style.display = "none";
}
}


function openProfile() {
var x =
document.getElementById("profile");
if (x.style.display === "none") {
x.style.display = "block";
} else {
x.style.display = "none";
}
}


function goBack() {
window.history.back()
}

function myFunction() {
var x = document.getElementById("snackbar");
x.className = "show";
setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
            </script>

           

 


   

<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script>
let i=0 ;

$('.slide').click(function(){
 $('.active').addClass('nonActive').find('span').empty()
  $(this).removeClass('nonActive').addClass('active')
  i= $(this).index()
})

setItner = setInterval(go,4000);

function go(){
 $('.active').addClass('nonActive').find('span').empty()
  $($('.slide')[i%12]).removeClass('nonActive').addClass('active')
  i++;
}


</script>
  
</body>

</html>